<div class="columns">
  <div class="column is-8 is-centered">

    <%= simple_form_for @instrument, defaults: { input_html: { class: "input" }, label_html: { class: "label" } } do |f| %>
      <%= f.error_notification %>

        <div class="columns">

          <div class="field column is-9">
            <div class="control">
              <%= f.label :title %>
              <%= f.input_field :title , required: true %>
            </div>
          </div>

          <div class="field column">
            <div class="control">
              <%= f.label :price %>
              <%= f.input_field :price, required: true %>
            </div>
          </div>

        </div>

        <div class="field">
          <div class="control">
            <%= f.label :model %>
            <%= f.input_field :model, required: true %>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <%= f.label :description %>
            <%= f.input_field :description, class: "textarea", required: true %>
          </div>
        </div>

        <div class="columns">
          <div class="field column is-4">
            <div class="control">
              <label class="label">Brand</label>
              <div class="control has-icons-left">
                <span class="select">
                  <%= f.input_field :brand, collection: Instrument::BRAND, prompt: "Select brand" %>
                </span>
                <span class="icon is-small is-left">
                  <%= fa_icon 'tag' %>
                </span>
              </div>
            </div>
           </div>

          <div class="field column is-4">
            <div class="control">
              <label class="label">Finish</label>
              <div class="control has-icons-left">
                <span class="select">
                  <%= f.input_field :finish, collection: Instrument::FINISH, prompt: "Select finish" %>
                </span>
                <span class="icon is-small is-left">
                  <%= fa_icon 'paint-brush' %>
                </span>
              </div>
            </div>
           </div>

          <div class="field column is-4">
            <div class="control">
              <label class="label">Condition</label>
              <div class="control has-icons-left">
                <span class="select">
                  <%= f.input_field :condition, collection: Instrument::CONDITION, prompt: "Select condition" %>
                </span>
                <span class="icon is-small is-left">
                  <%= fa_icon 'paint-brush' %>
                </span>
              </div>
            </div>
           </div>
         </div>

        <div class="field">
          <div class="control">
            <label class="label">Add images</label>
              <div class="file">
              <label class="file-label">
                <%= f.input :instrument_pic, as: :file, input_html: { class:"file-input instrument-image" }, label: false, wrapper: false %>
                  <span class="file-cta">
                    <span class="file-icon"><%= fa_icon 'upload' %></span>
                    <span class="file-label">Choose a file…</span>
                  </span>
              </label>
              </div>
            </div>
          </div>
          <output id="list"></output>
        <hr />

        <div class="field is-grouped">
          <div class="control">
            <%= f.button :submit, class: 'button is-warning' %>
            <%= link_to 'Cancel', instruments_path, class:'button is-light' %>
          </div>
        </div>

      <% end %>
  </div>
</div>
